.skill-level{
    position: absolute;
    background-color: #206191;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.skill{
    text-align: center;
    width: 60px;
    padding: 5px;
    height: 80px;
    margin: 5px;
    position: relative;
    border-right: 1px solid #0060c3b5;
    border-left: 1px solid #0060c3b5;
    border-bottom: 1px solid #0060c3b5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    animation: bounceIn .4s forwards ease-out;
}
.skills-container{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.skill-content{
    position: relative;
    top: 50px;
    z-index: 999;
    font-size: 0.8em;
    color: #fff;
}

@keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0.3) }
    50% {
      opacity: 0.9;
      transform: scale(1.1); }
    80% {
      opacity: 1;
      transform: scale(0.89); }
    100% {
      opacity: 1;
      transform: scale(1) }
}