.fx-row{
    display: flex;
    flex-direction: row;
}

.main{
    width: 100%;
}
.main.fx-col{
    padding: 20px 20px 0 20px;
}
h1{
    color: #fff;
}
.box{
    border: 1px solid;
    position: relative;
    padding: 20px;
    margin: 10px;
}