.side-bar-wrapper{
    background: #171f2c;
    color: #fff;
    width: 25em;
    transition: all .5s;
    position: relative;
    height: 100vh;
}

.fx-col{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
}
#appSideBar a{
    color: #788195;
    padding: 20px 0px 20px 0px;
    display: block;
    text-align: center;
    height: 80px;
    line-height: 2.5;
}

#appSideBar a:hover{
    color: #fff;
    background: #553248;
    text-decoration: none;
    cursor: pointer;
}

#appSideBar .active{
    background: #553248;
    border-left: 3px solid #1E90FF;
    color: #fff;
}

#appSideBar span{
    font-size: 0.9em;
}

.app-logo{
    width: 80px;
    height: 83px;
    padding: 10px 0 0 0;
    text-align: center;
}

.app-logo a{
    color: #fff;
}

.app-logo img{
    width: 80px;
    height: 60px;
}